{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li class="active">Gestionar</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="row">
        {% if form %}
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-control">

                        </div>
                        <h3 class="panel-title">{{ titulo }}</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-vertical" method="POST">{% csrf_token %}
                            {% bootstrap_form form layout="vertical" %}
                            <div class="col-xs-12" align="right">
                                <a href="{% url 'empresa_gestionar_empresas_cliente' %}" class="btn btn-dark">Volver </a>
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        {% endif %}
        <div class="{% if form %}col-sm-8 col-md-8{% else %}col-sm-12 col-md-12{% endif %}">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Listado de empresas actuales</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dominio in dominios %}
                                    <tr>
                                        <td>
                                            {{ dominio.tenant.nombre }}
                                        </td>
                                        <td>
                                            {{ dominio.domain }}
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                        Opciones <i class="ti-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'empresa_modificar_empresa_cliente' dominio.tenant.id %}">Modificar</a></li>
                                                        <li><a href="{% url 'empresa_copia_seguridad_empresa' dominio.tenant.id %}">Descargar copia de seguridad</a></li>
                                                    </ul>
                                                </div>
					                        </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block  js %}
    {{ block.super }}
    {% if form %}
        <script>
            static = {% static '' %};
            function obtener_enlace_tema(){
                return static+"css/themes/type-"+$("#id_tema").val()+"/theme-"+$("#id_color").val()+".min.css"
            }


            $('#id_tema, #id_color').on('change',function () {
                $('#tema-aplicacion').attr("href",obtener_enlace_tema())
            });
            $('#tema-aplicacion').attr("href",obtener_enlace_tema())
        </script>

        <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
        <script>
            $('.component-date').datepicker({
                language: 'es',
                autoclose: true,
                format: 'yyyy-mm-dd',
                orientation: "bottom",
            });
        </script>
    {% endif %}

{% endblock %}