{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Solicitar creación de empresa
{% endblock titulo %}

{% block titulo_pagina %}
    Solicitar creación de empresa
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Solicitar creación de empresa
{% endblock titulo_panel %}

{% block miga_pan %}
    <li class="active">Solicitar creación de empresa</li>
{% endblock miga_pan %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Solicitar creación de empresa</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        {% bootstrap_form form layout="vertical" %}
                        <div class="col-xs-12" align="right">
                            <a href="{% url 'inicio' %}" class="btn btn-dark">Volver </a>
                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block  js %}
    {{ block.super }}
    <script>
        dominio = '{{ dominio|safe }}';
        $id_schema_name = $('#id_schema_name');
        $help_text = $id_schema_name.next();
        console.log($help_text.html());
        console.log(dominio);
        if ($help_text.html() !== 'Esta será su direccion: midireccion'+dominio){
            $help_text = $help_text.next();
        }

        $id_schema_name.on('change keydown paste input',function () {
            direccion = $id_schema_name.val();

            $help_text.html('Esta será su direccion: '+direccion+dominio);
        });
        $id_schema_name.trigger('change');

    </script>

    <script>
        static = {% static '' %};
        function obtener_enlace_tema(){
            return static+"css/themes/type-"+$("#id_tema").val()+"/theme-"+$("#id_color").val()+".min.css"
        }


        $('#id_tema, #id_color').on('change',function () {
            $('#tema-aplicacion').attr("href",obtener_enlace_tema())
        })
    </script>

    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script>
        $('.component-date').datepicker({
            language: 'es',
            autoclose: true,
            format: 'yyyy-mm-dd',
            orientation: "bottom",
        });
    </script>
{% endblock %}
