{% url 'actividad_crear' as actividad_registrar %}
{% url 'actividad_listar' as actividad_listar %}
<li class="{% if "actividad/" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-agenda"></i>
            <span class="menu-title">
                Gestión de actividades
            </span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">
        {% if request.user.cargo == 'Operador' %}
            <li class="{% if actividad_registrar in request.path %} active {% endif %}">
                <a href="{{ actividad_registrar }}">
                    <span class="">Registro de actividades</span>
                </a>
            </li>
        {% endif %}
        <li class="{% if actividad_listar in request.path %} active {% endif %}">
            <a href="{{ actividad_listar }}">Listado de actividades </a>
        </li>
    </ul>
</li>