
{% if request.user.cargo == "Administrador" %}
    {% url 'empresa_registrar_empresa' as empresa_registrar_empresa %}
    {% url 'empresa_listado_solicitudes' as empresa_listado_solicitudes %}
    {% url 'empresa_editar_planes_empresa' as empresa_editar_planes_empresa %}

    <li class="{% if "empresa/" in request.path %} active active-sub {% endif %}">
        <a href="#">
            <i class="ti-agenda"></i>
                <span class="menu-title">
                    Gestión de empresa
                </span>
            <i class="arrow"></i>
        </a>
        <ul class="collapse">
            <li class="{% if empresa_editar_planes_empresa in request.path %} active {% endif %}">
                <a href="{% url 'empresa_editar_planes_empresa' %}">
                    <span class="">Gestión de planes</span>
                </a>
            </li>
            <li class="{% if empresa_registrar_empresa in request.path %} active {% endif %}">
                <a href="{% url 'empresa_registrar_empresa' %}">
                    <span class="">Registro de empresas</span>
                </a>
            </li>
            <li class="{% if empresa_listado_solicitudes in request.path %} active {% endif %}">
                <a href="{% url 'empresa_listado_solicitudes' %}">Listado de solicitudes </a>
            </li>
        </ul>
    </li>
{% elif request.user.cargo == "Cliente" %}
    {% url 'empresa_gestionar_empresas_cliente' as empresa_gestionar_empresas_cliente %}
    <li {% if "empresa/" in request.path %} class="active-link" {% endif %}>
        <a href="{% url 'empresa_gestionar_empresas_cliente' %}">
            <i class="ti-harddrives"></i>
            <span class="menu-title">Gestionar empresas</span>
        </a>
    </li>
{% endif %}
