{% url 'evento_registro_evento' as evento_registro_evento %}
{% url 'evento_listado_evento' as evento_listado_evento %}
{% url 'tema_registro_tema' as tema_registro_tema %}
{% url 'calendario_visualizar_calendario' as calendario_visualizar_calendario %}
<li class="{% if "evento/" in request.path or "calendario" in request.path or "tema" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-notepad"></i>
            <span class="menu-title">
                Gestión de eventos
            </span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">
        {% if request.user.cargo == 'Operador' %}
            <li class="{% if "tema" in request.path %} active {% endif %}">
                <a href="#">
                    <span class="ti-tag">Gestion de temas</span><i class="arrow"></i>
                </a>
                <ul class="collapse">
                    <li class="{% if tema_registro_tema in request.path %} active {% endif %}">
                        <a href="{{ tema_registro_tema }}">Registro de temas</a>
                    </li>
                </ul>
            </li>
            <li class="{% if evento_registro_evento in request.path %} active {% endif %}">
                <a href="{{ evento_registro_evento }}">
                    <span class="">Registro de eventos</span>
                </a>
            </li>
        {% endif %}
        <li class="{% if evento_listado_evento in request.path %} active {% endif %}">
            <a href="{{ evento_listado_evento }}">Listado de eventos</a>
        </li>
        <li class="{% if calendario_visualizar_calendario in request.path %} active {% endif %}">
            <a href="{{ calendario_visualizar_calendario }}">Calendario</a>
        </li>

    </ul>
</li>