{% url 'noticia_registro' as noticia_registro %}
{% url 'listado_noticias' as listado_noticias %}
<li class="{% if "noticia/" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-rss"></i>
            <span class="menu-title">
                Gestión de noticias
            </span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">
        {% if request.user.cargo == 'Operador' %}
            <li class="{% if noticia_registro in request.path %} active {% endif %}">
                <a href="{{ noticia_registro }}">
                    <span class="">Registro de noticias</span>
                </a>
            </li>
        {% endif %}
        <li class="{% if listado_noticias in request.path %} active {% endif %}">
            <a href="{{ listado_noticias }}">Listado de noticias </a>
        </li>
    </ul>
</li>