{% url 'listado_participantes_pre' as listado_participantes_pre %}
<li class="{% if "participante/" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-id-badge"></i>
            <span class="menu-title">
                Gestión de participantes
            </span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">

        <li class="{% if listado_participantes_pre in request.path %} active {% endif %}">
            <a href="{{ listado_participantes_pre }}">Listado de participantes </a>
        </li>
    </ul>
</li>