{% url 'reporte_ingresos_evento_reporte' as reporte_ingresos_evento_reporte %}
{% url 'reporte_participantes_evento_reporte' as reporte_participantes_evento_reporte %}
{% url 'reporte_asistencia_evento_reporte' as reporte_asistencia_evento_reporte %}
{% url 'reporte_cantidad_evento_reporte' as reporte_cantidad_evento_reporte %}
{% url 'reporte_porcentaje_participacion_fecha' as reporte_porcentaje_participacion_fecha %}
<li class="{% if "reportes/" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-bar-chart-alt"></i>
            <span class="menu-title">
                Reportes
            </span>
        <i class="arrow"></i>
    </a>
    <ul class="collapse">
        <li class="{% if reporte_ingresos_evento_reporte in request.path %} active {% endif %}">
            <a href="{{ reporte_ingresos_evento_reporte }}">Reporte de ingresos por eventos</a>
        </li>

        <li class="{% if reporte_participantes_evento_reporte in request.path %} active {% endif %}">
            <a href="{{ reporte_participantes_evento_reporte }}">Reporte de participantes por eventos</a>
        </li>

        <li class="{% if reporte_asistencia_evento_reporte in request.path %} active {% endif %}">
            <a href="{{ reporte_asistencia_evento_reporte }}">Reporte de asistencias por eventos</a>
        </li>

        <li class="{% if reporte_cantidad_evento_reporte in request.path %} active {% endif %}">
            <a href="{{ reporte_cantidad_evento_reporte }}">Reporte de eventos por mes</a>
        </li>

        <li class="{% if reporte_porcentaje_participacion_fecha in request.path %} active {% endif %}">
            <a href="{{ reporte_porcentaje_participacion_fecha }}">Reporte de porcentaje de asistencia a los eventos por fecha</a>
        </li>

    </ul>
</li>