{% url 'usuario_registro_usuario' as usuario_registro_usuario %}
{% url 'usuario_listado_usuario' as usuario_listado_usuario %}
<li class="{% if "usuario/" in request.path %} active active-sub {% endif %}">
    <a href="#">
        <i class="ti-notepad"></i>
        <span class="menu-title">
            Gestión de usuarios
        </span>
        <i class="arrow"></i>
    </a>
    {% if request.user.cargo == 'Administrador' %}
        <ul class="collapse">
            <li class="{% if usuario_registro_usuario in request.path %} active {% endif %}">
                <a href="{{ usuario_registro_usuario }}">Registro de usuarios</a>
            </li>
        </ul>
    {% endif %}
    <ul class="collapse">
        <li class="{% if usuario_listado_usuario in request.path %} active {% endif %}">
            <a href="{{ usuario_listado_usuario }}">Listado de usuarios</a>
        </li>
    </ul>
</li>