{% extends "base_tablas_reporte.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Reporte de ingresos por eventos
{% endblock titulo %}

{% block miga_pan %}
    <li>Reportes</li>
    <li class="active">Reporte de ingresos por eventos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Reporte de ingresos por eventos
{% endblock titulo_pagina %}

{% block titulo_interior %}
    Reportes
{% endblock titulo_interior %}

{% block contenido %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-control">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-tabla" data-toggle="tab">
                            <span>Tabla (Todos)</span></a>
                    </li>
                    <li>
                        <a class="text-dark" href="#tab-grafico" data-toggle="tab">
                           <span>Grafico (Top 5)</span></a>
                    </li>
                </ul>
            </div>
            <h3 class="panel-title">Reporte de ingresos por eventos</h3>
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <div class="tab-content">

                <!-- Contenido del primer tab -->
                <div class="tab-pane fade in active" id="tab-tabla">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre del evento</th>
                                    <th>Ingresos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elemento in datos %}
                                    <tr>
                                        <td>
                                            {{ elemento.label }}
                                        </td>
                                        <td>
                                            COP ${{ elemento.value }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Fin contenido del primer tab -->

                <!-- Contenido del segundo tab -->
                <div class="tab-pane fade" id="tab-grafico">
                    <div class="col-md-10 col-md-offset-1">
                        <div id="contenedor-grafico">
                            <canvas id="grafico"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Fin contenido del segundo tab -->
            </div>
        </div>
    </div>
{% endblock contenido %}


{% block js %}
    {{ block.super }}
    <script>
        generar_reporte_ingresos('#enviar_datos', '{% url "reporte_ingresos_evento_reporte_datos" %}', 'grafico', 'ingresos', 'Top 5 de eventos por ingresos')
    </script>
{% endblock js %}