{% extends "base_tablas_reporte.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Reporte de participantes por eventos
{% endblock titulo %}

{% block miga_pan %}
    <li>Reportes</li>
    <li class="active">Reporte de participantes por eventos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Reporte de participantes por eventos
{% endblock titulo_pagina %}

{% block titulo_interior %}
    Reportes
{% endblock titulo_interior %}

{% block contenido %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-control">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-tabla" data-toggle="tab">
                            <span>Tabla (Todos)</span></a>
                    </li>
                    <li>
                        <a class="text-dark" href="#tab-grafico" data-toggle="tab">
                           <span>Grafico (Top 5)</span></a>
                    </li>
                </ul>
            </div>
            <h3 class="panel-title">Reporte de participantes por eventos</h3>
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <div class="tab-content">

                <!-- Contenido del primer tab -->
                <div class="tab-pane fade in active" id="tab-tabla">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Nombre del evento</th>
                                    <th>Número de participantes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elemento in datos %}
                                    <tr>
                                        <td>
                                            {{ elemento.label }}
                                        </td>
                                        <td>
                                            {{ elemento.value }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Fin contenido del primer tab -->

                <!-- Contenido del segundo tab -->
                <div class="tab-pane fade" id="tab-grafico">
                    <div class="form-horizontal">
                        {% comment %}
                        <div class="form-group">
                            <div class="col-md-10 col-sm-10">
                                <div id="range-picker">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="form-control" name="start" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control" name="end" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2" style="padding-top: 5px">
                                <button type="button" class="btn btn-sm btn-primary" id="enviar_datos">
                                    Actualizar
                                </button>
                            </div>
                        </div>
                        {% endcomment %}
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div id="contenedor-grafico">
                            <canvas id="grafico"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Fin contenido del segundo tab -->
            </div>
        </div>
    </div>
{% endblock contenido %}


{% block js %}
    {{ block.super }}
    <script>
        generar_reporte_ingresos('#enviar_datos', '{% url "reporte_participantes_evento_reporte_datos" %}', 'grafico', 'num. part.', 'Top 5 de eventos por participantes')
    </script>
{% endblock js %}