{% extends "base_tablas_reporte.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Reporte de asistencias por eventos
{% endblock titulo %}

{% block miga_pan %}
    <li>Reportes</li>
    <li class="active">Reporte de la cantidad de eventos</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Reporte de la cantidad de eventos
{% endblock titulo_pagina %}

{% block titulo_interior %}
    Reportes
{% endblock titulo_interior %}


{% block contenido %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-control">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-tabla" data-toggle="tab">Tabla (Historico)</a>
                    </li>
                    <li>
                        <a class="text-dark" href="#tab-grafico" data-toggle="tab">Grafico</a>
                    </li>
                </ul>
            </div>
            <h3 class="panel-title">Reporte de la cantidad de eventos</h3>
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <div class="tab-content">

                <!-- Contenido del primer tab -->
                <div class="tab-pane fade in active" id="tab-tabla">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered tabla-responsive">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Cantidad historica de eventos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elemento in datos %}
                                    <tr>
                                        <td>
                                            {{ elemento.label }}
                                        </td>
                                        <td>
                                            {{ elemento.value }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Fin contenido del primer tab -->

                <!-- Contenido del segundo tab -->
                <div class="tab-pane fade" id="tab-grafico">
                    <div class="row" style="display: flex; align-items:center">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                        {% bootstrap_form form %}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <button type="button" class="btn btn-sm btn-primary" id="enviar_datos">
                                Actualizar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div id="contenedor-grafico">
                                <canvas id="grafico"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin contenido del segundo tab -->
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
    {{ block.super }}

    <script>
        generar_reporte_cantidad_mes('id_filtro_ano','#enviar_datos', '{% url "reporte_cantidad_evento_reporte_datos" %}', 'grafico', 'Cantidad' ,'Cantidad de eventos por mes')
    </script>
{% endblock js %}