{% load staticfiles %}

<div class="row">
    {% for evento in eventos %}
        <div class=" col-sm-4 col-md-3 col-lg-3">
            <div class="panel widget">
                <div class="widget-header bg-primary">
                    <a href="{% url 'evento_detalle_evento' evento.id %}">
                        {% if evento.imagen != "" and evento.imagen != None %}
                            <img class="widget-bg img-responsive" src="{{ MEDIA_URL }}{{ evento.imagen }}" alt="Image">
                        {% else %}
                            <img class="widget-bg img-responsive" src="{% static 'img/default_evento.jpg' %}" alt="Image">
                        {% endif %}
                    </a>
                </div>
                <div class="widget-body bg-dark">
                    {{ evento.nombre }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    {% if eventos.has_other_pages %}
        <ul class="pagination">
            {% if eventos.has_previous %}
                <li><a href="?pagina={{ eventos.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in eventos.paginator.page_range %}
                    {% if eventos.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?pagina={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if eventos.has_next %}
                    <li><a href="?pagina={{ eventos.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
        </ul>
    {% endif %}
</div>


