{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
    <div class="row">
        <div class="col-sm-12">
            <div class=" panel panel-primary">
                <div class="panel-body">
                    <div class="row pricing pricing-no-gutter-sm">
                        {% for plan in planes %}
                            {% if plan.nombre == "Gratuito" %}
                                <!--===================================================-->

                                <div class="col-sm-4">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <p class="pricing-title">{{ plan.nombre }}</p>
                                            <p class="pricing-desc">Pruebe nuestro sistema de manera gratuita.</p>
                                            <div class="pricing-price">
                                                <p><span class="text-semibold text-primary">${{ plan.precio }}</span></p>
                                            </div>
                                            <ul class="pricing-list">
                                                <li>Registre un máximo de <strong>{{ plan.maximo_usuarios }}</strong> usuarios</li>
                                                <li>Módulos de <strong>{{ plan.obtener_modulos_disponibles }}</strong> para uso ilimitado</li>
                                                <li><strong>Personalice </strong>el diseño del sistema a sus necesidades</li>
                                            </ul>
                                            <a href="{% if request.user.cargo == "Cliente" %}  {% url 'empresa_registrar_solicitud_empresa' plan.id %} {% else %} {% url 'usuario_registro_publico_cliente' %} {% endif %}" class="btn btn-block btn-primary btn-lg">Seleccionar</a>
                                        </div>
                                    </div>
                                </div>
                                <!--===================================================-->

                            {% elif plan.nombre == "Estandar" %}
                                <!--Premium Plan-->
                                <!--===================================================-->
                                <div class="col-sm-4 pricing-featured">
                                    <div class="panel">
                                        <div class="ribbon"><span>Mas vendido</span></div>
                                        <div class="panel-body">
                                            <p class="pricing-title">{{ plan.nombre }}</p>
                                            <p class="pricing-desc">Disfrute de nuestro sistema sistema sin limitaciones funcionales</p>
                                            <div class="pricing-price">
                                                <p><span class="text-semibold text-success">${{ plan.precio }}</span></p>
                                                <p>/Mes</p>
                                            </div>
                                            <ul class="pricing-list">
                                                <li>Registre un máximo de <strong>{{ plan.maximo_usuarios }}</strong> usuarios</li>
                                                <li>Incluye todos los módulos de la versión gratuita y el módulo especializado <strong>Reportes</strong> para uso ilimitado</li>
                                                <li><strong>Personalice </strong>el diseño del sistema a sus necesidades</li>
                                            </ul>
                                            <a href="{% if request.user.cargo == "Cliente" %} {% url 'empresa_registrar_solicitud_empresa' plan.id %} {% else %} {% url 'usuario_registro_publico_cliente' %} {% endif %}" class="btn btn-block btn-success btn-lg">Seleccionar</a>
                                        </div>
                                    </div>
                                </div>

                            {% elif plan.nombre == "Empresarial" %}
                                <!--Enterprise Plan-->
                                <!--===================================================-->
                                <div class="col-sm-4">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <p class="pricing-title">{{ plan.nombre }}</p>
                                            <p class="pricing-desc">Disfrute al máximo de nuestro sistema.</p>
                                            <div class="pricing-price">
                                                <p><span class="text-semibold text-purple">${{ plan.precio }}</span></p>
                                                <p>/Mes</p>
                                            </div>
                                            <ul class="pricing-list">
                                                <li>Registre un máximo de <strong>{{ plan.maximo_usuarios }}</strong> usuarios</li>
                                                <li>Incluye <strong>todos</strong> los módulos {{ plan.obtener_modulos_disponibles }} para uso ilimitado</li>
                                                <li><strong>Personalice </strong>el diseño del sistema a sus necesidades</li>
                                            </ul>
                                            <a href="{% if request.user.cargo == "Cliente" %}  {% url 'empresa_registrar_solicitud_empresa' plan.id %} {% else %} {% url 'usuario_registro_publico_cliente' %} {% endif %}" class="btn btn-block btn-purple btn-lg">Seleccionar</a>
                                        </div>
                                    </div>
                                </div>
                                <!--===================================================-->

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

