{% load staticfiles %}

<div id="my_slider" class="slider-pro">
    <div class="sp-slides">
        <div class="sp-slide">
            <img class="sp-image" src="{% static 'img/Software_como_servicio.png' %}"
                        data-src="{% static 'img/Software_como_servicio.png' %}"
                        data-retina="{% static 'img/Software_como_servicio.png' %}"/>

        </div>

        {% for noticia in noticias %}
            <div class="sp-slide">
                {% if noticia.imagen %}
                    <img class="sp-image" src="{{ MEDIA_URL}}{{ noticia.imagen }}"
                         data-src="{{ MEDIA_URL}}{{ noticia.imagen }}"
                         data-retina="{{ MEDIA_URL}}{{ noticia.imagen }}"/>
                {% else %}
                    <img class="sp-image" src="{% static 'img/default_noticia.jpg' %}"
                        data-src="{% static 'img/default_noticia.jpg' %}"
                        data-retina="{% static 'img/default_noticia.jpg' %}"/>
		        {% endif %}

                <p class="sp-layer sp-white sp-padding text-center"
					data-vertical="5%" data-horizontal="10%" data-width="80%"
					data-show-transition="down" data-show-delay="400">
                    {{ noticia.titulo }}
				</p>

                <p class="sp-layer sp-black sp-padding btn-hover-primary"
					data-horizontal="80%" data-vertical="90%" data-width="10%"
					data-show-transition="left" data-show-delay="400">
					<a data-toggle="tooltip" data-placement="top"
                       title="Detalle noticia" class='text-light'
                       href="{% url 'noticia_detalle_noticia' noticia.pk %}">
                        Ver más
                    </a>
				</p>
            </div>
        {% endfor %}
    </div>

    <div class="sp-thumbnails">
        <div class="sp-thumbnail">
            <div class="sp-thumbnail-image-container">
                <img class="sp-thumbnail-image" src="{% static 'img/Software_como_servicio.png' %}"/>
            </div>
        </div>

        {% for noticia in noticias %}
            {% if noticia.imagen  %}
                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{{ MEDIA_URL}}{{ noticia.imagen }}"/>
                    </div>
                </div>
            {% else %}
                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'img/default_noticia.jpg' %}" />
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
</div>