{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    ABC | {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>{{ tipo }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}


{% block contenido %}
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">{{ titulo }}</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical" method="POST">{% csrf_token %}
                        {% bootstrap_form form layout="vertical" %}
                        <div class="col-xs-12" align="right">
                            <a href="{% url 'pago_evento_realizar' %}" class="btn btn-dark">Cancelar </a>
                            <button type="submit" class="btn btn-mint">Registrar</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">

                    </div>
                    <h3 class="panel-title">Listado de pagos actuales</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover data-combine">
                            <thead>
                                <tr>
                                    <th>Número de documento </th>
                                    <th>Identificador del evento</th>
                                    <th>Nombre de la empresa</th>
                                    <th>Estado del pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pago in pagos %}
                                    <tr>
                                        <td>
                                            {{ pago.cedula }}
                                        </td>
                                        <td>
                                            {{ pago.identificador_evento }}
                                        </td>
                                        <td>
                                            {{ pago.identificador_empresa }}
                                        </td>
                                        <td>
                                            {% if pago.esta_pago %}
                                                Realizado
                                            {% else %}
                                                No Realizado
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" align="center">
                                            <b>No hay pagos registrados en el sistema</b>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}