{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block css %}
    <!-- DatePicker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" />
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
{% endblock css %}

{% block contenido %}
<div class="row">
    <div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
        <div class=" panel panel-primary">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form method="POST" class="margin-bottom-0">{% csrf_token %}
                        <div class="form-group m-b-20">
                            {% bootstrap_field form.clave layout="vertical" %}
                        </div>
                        <div class="checkbox m-b-20">

                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-mint btn-block btn-lg">Ingresar</button>
                            <a href="{% url 'inicio' %}" class="btn btn-dark btn-block btn-lg">
                                <span style="color:white">Cancelar</span>
                            </a>

                        </div>

                    </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}