{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block botones_panel %}
    <a class="btn btn-sm btn-success" href="{% url 'noticia_registro' %}">
        <span>Registrar</span>
    </a>
{% endblock botones_panel %}

{% block contenido_panel %}
    <table class="table table-striped table-bordered tabla-responsive">
        <thead>
            {% for encabezado in lista_encabezados %}
                <th>{{ encabezado }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for elemento in lista_elementos %}
                <tr>
                    <td>
                       {{ elemento.first_name  }}
                    </td>
                    <td>
                       {{ elemento.last_name  }}
                    </td>
                    <td>
                       {{ elemento.cedula  }}
                    </td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock contenido_panel %}
