{% extends "landing_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}


{% block miga_pan %}
    <li>{{ tipo }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block css %}
    <!-- DatePicker -->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" />
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'bower_components/select2/dist/css/select2.min.css' %}">
{% endblock css %}

{% block contenido %}
<div class="row">
    <div class="col-sm-12">
        <div class=" panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Formulario de registro de participantes</h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.numero_documento layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.primer_nombre layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.segundo_nombre layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.primer_apellido layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.segundo_apellido layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.telefono layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.celular layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.email layout="vertical" %}
                            </div>
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.direccion layout="vertical" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                {% bootstrap_field form.actividades layout="vertical"%}
                            </div>
                        </div>

                        <button class="btn btn-md btn-success m-r-5 m-b-5" type="submit">Registrar</button>
                        <a href="{% url 'inicio' %}" class="btn btn-md btn-default m-r-5 m-b-5">Cancelar</a>
                </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

