{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block miga_pan %}
<li>Noticia</li>
<li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block contenido %}
    {% include "info_noticia.html" %}
{% endblock contenido %}