{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
   {{ titulo }}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li>{{ tipoLista }}</li>
    <li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block panel_botones %}
<a class="btn btn-sm btn-success" href="{% url 'noticia_registro' %}">
    <span>Registrar</span>
</a>
{% endblock panel_botones %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered tabla-responsive">
            <thead>
                {% for encabezado in lista_encabezados %}
                    <th>{{ encabezado }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for noticia in lista_noticias %}
                    <tr>
                        <td>
                           {{ noticia.titulo  }}
                        </td>
                        <td>
                           {{ noticia.descripcion  }}
                        </td>
                        <td>
                           {{ noticia.fecha  }}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Acción</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="btn btn-sm btn-info" href="{% url 'modificar_noticia' noticia.pk %}">
                                            <span style="color:white">Modificar</span>
                                        </a>
                                    </li>
                                    <li><a class="btn btn-sm btn-mint" href="{% url 'noticia_detalle_noticia' noticia.pk %}">
                                            <span class="text-light">Visualizar</span>
                                        </a>
                                    </li>
                                    <li><a data-toggle="modal" data-target="#modal-eliminar" href="#"
                                           data-url="{% url 'eliminar_noticia' noticia.pk %}"
                                           data-listado-titulo="{{ noticia.titulo }}"
                                           data-listado-descripcion="{{ noticia.descripcion }}"
                                           data-listado-fecha="{{ noticia.fecha }}"
                                           class="btn btn-sm btn-danger eliminar">
                                            <span style="color:white">Eliminar</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-eliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar el siguiente registro de noticias</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea eliminar este registro de noticias?</p>
                    <p> El registro con datos:
                        <li>Título: <label class="listado-titulo"></label></li>
                        <li>Descripcion: <label class="listado-descripcion"></label></li>
                        <li>Fecha: <label class="listado-fecha"></label></li>
                    </p>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-eliminar" class="btn btn-sm btn-danger ">Eliminar</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock contenido_panel %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/noticia/eliminar-registro.js' %}"></script>
{% endblock js %}