{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% comment %}
    Al extender del bloque css o js de esta plantilla agregar al principio la etiqueta {{ block.super }}
    para que se tome el contenido del bloque que se esta sobreescribiendo y se añada al nuevo que se va a definir
{% endcomment %}

{% block css %}
    <!-- Data Tables -->
    <link href="{% static 'plugins/Data_Tables/datatables.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block js %}
   <!--Data Tables -->
	<script src="{% static 'plugins/Data_Tables/datatables.min.js' %}"></script>
    <script src="{% static 'js/apps/generales/tabla-datos-traducido.js' %}"></script>
{% endblock js %}

