{% extends "base_tablas_reporte.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Administrador | Dashboard
{% endblock titulo %}

{% block miga_pan %}
<li> Usuario</li>
<li class="active"> Dashboard</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Dashboard
{% endblock titulo_pagina %}

{% block css %}
<!--Full Calendar [ OPTIONAL ]-->
<link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css' %}" rel="stylesheet">
{% endblock css%}

{% block contenido %}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-warning panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-user icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ usuarios_totales }}</p>
                <p lass="mar-no">Usuarios registrados</p>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="panel panel-info panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-briefcase icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ usuarios_gerentes }}</p>
                <p lass="mar-no">Usuarios gerentes</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-mint panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-clipboard icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ usuarios_operarios }}</p>
                <p lass="mar-no">Usuarios operarios</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-purple panel-colorful media middle pad-all">
            <div class="media-left">
                <div class="pad-hor">
                    <i class="ti-panel icon-3x"></i>
                </div>
            </div>
            <div class="media-body">
                <p class="text-2x mar-no text-semibold">{{ usuarios_admin }}</p>
                <p lass="mar-no">Usuarios admin.</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class=" panel panel-primary">
        <div class="panel-body">
            <div class='calendar'></div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
    {{ block.super }}
<!-- Full Calendar [ OPTIONAL ]-->
    <script src="{% static 'plugins/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lib/jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lang/es.js' %}"></script>
    <script>
            // Initialize the calendar
            // -----------------------------------------------------------------
            $('.calendar').fullCalendar({
                locale:'es',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                defaultDate: moment().format("YYYY-MM-DD"),
                eventLimit: true // allow "more" link when too many events
            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

    </script>
{% endblock js %}


