{% extends "base_tablas.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Participante | Dashboard
{% endblock titulo %}

{% block miga_pan %}
<li> Usuario</li>
<li class="active"> Dashboard</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Dashboard
{% endblock titulo_pagina %}

{% block contenido %}

    <div class="row pricing">
        <div class="col-sm-6 col-md-3 pricing-featured">
            <div class="panel">
                <div class="panel-body">
                    <p class="pricing-title">MEMBRESÍA DE UN MES</p>
                    <div class="pricing-price">
                        <p class="text-primary">
                            <span class="text-normal">$12.000</span>
                        </p>
                    </div>

                    <a href="{% url 'participante_adquirir_membresia' 1 %}"  class="btn btn-block btn-primary">Adquirir</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 pricing-featured">
            <div class="panel">
                <div class="panel-body">
                    <p class="pricing-title">MEMBRESÍA DE TRES MESES</p>
                    <div class="pricing-price">
                        <p class="text-primary">
                            <span class="text-normal">$32.000</span>
                        </p>
                    </div>

                    <a href="{% url 'participante_adquirir_membresia' 2 %}"  class="btn btn-block btn-primary">Adquirir</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 pricing-featured">
            <div class="panel">
                <div class="panel-body">
                    <p class="pricing-title">MEMBRESÍA DE SEIS MESES</p>
                    <div class="pricing-price">
                        <p class="text-primary">
                            <span class="text-normal">$60.000</span>
                        </p>
                    </div>
                    <a href="{% url 'participante_adquirir_membresia' 3 %}"  class="btn btn-block btn-primary">Adquirir</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 pricing-featured">
            <div class="panel">
                <div class="panel-body">
                    <p class="pricing-title">MEMBRESÍA DE UN AÑO</p>
                    <div class="pricing-price">
                        <p class="text-primary">
                            <span class="text-normal">$100.000</span>
                        </p>
                    </div>
                    <a href="{% url 'participante_adquirir_membresia' 4 %}" class="btn btn-block btn-primary">Adquirir</a>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido %}