{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio sesión</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/nifty.min.css' %}" rel="stylesheet">

    <!-- notifications -->
    <link rel="stylesheet" href="{% static 'plugins/toast/toastr/toastr.min.css' %}">
    {% with "css/themes/type-"|add:request.tenant.tema|add:"/theme-"|add:request.tenant.color|add:".min.css" as url_estilo %}
        <link id="tema-aplicacion" rel="stylesheet" href="{% static url_estilo %}">
    {% endwith %}

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js/nifty.min.js' %}"></script>


    <!--=================================================-->

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay" class="bg-img" style="background-image:url({% static 'img/bg-img/4.jpg' %}); background-repeat: no-repeat; background-size: cover;"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">Inicio de sesion</h1>
                        <p>{% if request.tenant.schema_name != "public" %}{{ request.tenant.nombre }}{% else %}Eventos ABC{% endif %}</p>


                    </div>
                    {% if user.is_authenticated %}
                        <h3> Bienvenido {{user.get_full_name}}, su sesión esta iniciada</h3>
                        <a href="{% url 'dashboard' %}" class="btn btn-dark btn-block btn-lg">
                            <span style="color:white"> Ir al inicio</span>
                        </a>
                    {% else %}
                        <form method="POST" class="margin-bottom-0">{% csrf_token %}
                            <div class="form-group m-b-20">
                              {{ form.username }}
                            </div>
                            <div class="form-group m-b-20">
                                {{ form.password }}
                            </div>
                            <div class="form-group  m-b-20">
                                {{ form.captcha }}
                                {% if form.captcha.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        Debe realizar la verificación del reCAPTCHA ("No soy un robot")
                                    </div>
                                {% endif %}
                            </div>
                            <div class="login-buttons">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Ingresar</button>
                                <a href="{% url 'inicio' %}" class="btn btn-dark btn-block btn-lg">
                                    <span style="color:white"> Ir a la página principal</span>
                                </a>

                            </div>

                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

    <script src="{% static 'plugins/toast/toastr-js/toastr.min.js' %}"></script>

    <script type="text/javascript">
        $('form').attr('autocomplete', 'off');
        {% for msg in messages %}
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true,
                    "showEasing": "swing"
                }
                toastr["{{ msg.tags }}"]("{{msg}}")
            }, 500);
        });
        {% endfor %}
    </script>
</body>
</html>
