{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
Modificar Perfil
{% endblock titulo_panel %}

{% block miga_pan %}
<li>{{ tipo }}</li>
{% endblock miga_pan %}


{% block contenido_panel %}

<div class="col-md-10 col-md-offset-1">
    <div class="profile-right">
        <div class="profile-info">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.first_name layout="vertical" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.last_name layout="vertical" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.email layout="vertical" %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.edad layout="vertical" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.telefono layout="vertical" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {% bootstrap_field form.sexo %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" style="padding-top: 24px;">

                            <button class="btn btn-md btn-primary " type="submit">Guardar
                            </button>
                            <a href="{% url 'usuario_perfil_usuario' user.id %}" class="btn btn-md btn-dark m-r-5 m-b-5">Cancelar</a>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>


{% endblock contenido_panel %}