{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>{{ tipo }}</li>
{% endblock miga_pan %}


{% block contenido_panel %}

    <div class="col-md-10 col-md-offset-1">
        <div class="profile-right">
            <div class="profile-info">
                <div class="table-responsive">
                    <table class="table table-profile">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <a class="btn btn-primary" href="{% url 'usuario_perfil_modificar' usuario.id %}">Modificar
                                    Perfil</a>
                            </td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Usuario</td>
                            <td>{{ usuario.username }} </td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Nombre</td>
                            <td>{{ usuario.first_name }} {{ usuario.last_name }} </td>
                        </tr>

                        <tr class="highlight">
                            <td class="field">Documento de identidad</td>
                            <td>{{ usuario.cedula }} </td>
                        </tr>

                        <tr class="highlight">
                            <td class="field">Edad</td>
                            <td>{{ usuario.edad }}</td>
                        </tr>

                        <tr class="highlight">
                            <td class="field">Correo electrónico</td>
                            <td>{{ usuario.email }} </td>
                        </tr>

                        <tr class="highlight">
                            <td class="field">Teléfono</td>
                            <td>{{ usuario.telefono|default_if_none:'Sin registro' }} </td>
                        </tr>

                        <tr class="highlight">
                            <td class="field">Cargo</td>
                            <td>{{ usuario.cargo }} </td>
                        </tr>

                        {% if usuario.imagen != "" and usuario.imagen != None %}

                            <img class="img-responsive img-circle mar-ver" src="{{ MEDIA_URL }}{{ usuario.imagen }}"
                                 width="150" height="150">

                        {% else %}

                            <img class="img-lg img-circle img-responsive mar-ver"
                                 src="{% static 'img/desconocido.jpg' %}" alt="">

                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




{% endblock contenido_panel %}