{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_panel %}
    {{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
    <li>{{ tipo }}</li>
{% endblock miga_pan %}

{% block css %}
    <!-- strength password -->
    <link rel="stylesheet" href="{% static 'plugins/password-strength-meter/dist/password.min.css' %}">
{% endblock css %}

{% block contenido_panel %}
    <form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.first_name layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.last_name layout="vertical" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.cedula layout="vertical" %}
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.edad layout="vertical" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.email %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.telefono layout="vertical" %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.cargo %}
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                {% bootstrap_field form.sexo %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% bootstrap_field form.username %}
            </div>
            <div class="col-sm-6 col-md-3">
                {% bootstrap_field form.password1 %}
            </div>
            <div class="col-sm-6 col-md-4">
                {% bootstrap_field form.password2 %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% bootstrap_field form.imagen %}
            </div>
        </div>
        <br>
        <button class="btn btn-md btn-primary m-r-5 m-b-5 col-md-offset-1" type="submit">Registrar</button>
        <a href="{% url 'usuario_listado_usuario' %}" class="btn btn-md btn-dark m-r-5 m-b-5">Cancelar</a>

    </form>

{% endblock contenido_panel %}

{% block js %}
    <script src="{% static 'plugins/password-strength-meter/dist/password.min.js' %}"></script>
    <script>
        $('#id_password1').password({
            shortPass: 'La contraseña es demasiado corta',
            badPass: 'Débil; intente combinar letras y números',
            goodPass: 'Medio; intente usar caracteres especiales',
            strongPass: 'Contraseña segura',
            containsUsername: 'La contraseña contiene el nombre de usuario',
            enterPass: 'Escriba su contraseña',
            showPercent: false,
            showText: true, // shows the text tips
            animate: true, // whether or not to animate the progress bar on input blur/focus
            animateSpeed: 'fast', // the above animation speed
            username: false, // select the username field (selector or jQuery instance) for better password checks
            usernamePartialMatch: true, // whether to check for username partials
            minimumLength: 4 // minimum password length (below this threshold, the score is 0)
        });
    </script>
{% endblock js %}