{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block miga_pan %}
    <li>Evento</li>
    <li class="active">Dashboard</li>
{% endblock miga_pan %}

{% block css %}
    <!--Full Calendar [ OPTIONAL ]-->
    <link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block contenido %}
    <div id="page-content">
        <div class="row">
            <div class="col-md-4">
                <div class="panel media middle">
                    <div class="media-left bg-mint pad-all">
                        <i class="ti-id-badge icon-3x"></i>
                    </div>
                    <div class="media-body pad-all">
                        <p class="mar-no text-semibold text-main">
                        <h4>Participantes pre inscritos</h4>
                        </p>
                        <p class="mar-no text-semibold text-main">
                        <h4>{{ preinscritos }}</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel media middle">
                    <div class="media-left bg-mint pad-all">
                        <i class="ti-stamp icon-3x"></i>
                    </div>
                    <div class="media-body pad-all">
                        <p class="mar-no text-semibold text-main">
                        <h4>Participantes inscritos</h4>
                        </p>
                        <p class="mar-no text-semibold text-main">
                        <h4>{{ inscritos }}</h4>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel media middle">
                    <div class="media-left bg-mint pad-all">
                        <i class="ti-credit-card icon-3x"></i>
                    </div>
                    <div class="media-body pad-all">
                        <p class="mar-no text-semibold text-main">
                        <h4>Ingresos</h4>
                        </p>
                        <p class="mar-no text-semibold text-main">
                        <h4> {% if ingresos == None %} $ 0 {% else %} $ {{ ingresos }} {% endif %}</h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class=" panel panel-primary">
                    <div class="panel-body">
                        <h2 align="center">{{ evento.nombre }}</h2>
                        <br>

                        <div class="col-md-11 col-md-offset-1">
                            {% if evento.imagen != "" and evento.imagen != None %}
                                <img class="img-responsive" src="{{ MEDIA_URL }}{{ evento.imagen }}">
                            {% else %}
                                <img class="img-responsive" src="{% static 'img/default_evento.jpg' %}">
                            {% endif %}

                            <br>
                        </div>
                        <br>

                        <div class="col-md-11 col-md-offset-1 col-xs-12">
                            <div class="profile-right">
                                <div class="profile-info">
                                    <div class="table-responsive">
                                        <table class="table table-profile">
                                            <tbody>
                                            <tr class="highlight">
                                                <td class="field"><h5>Fecha de inicio</h5></td>
                                                <td>{{ evento.fecha_inicio }}</td>
                                            </tr>

                                            <tr class="highlight">
                                                <td class="field"><h5>Fecha de finalización</h5></td>
                                                <td>{{ evento.fecha_fin }}</td>
                                            </tr>

                                            <tr class="highlight">
                                                <td class="field"><h5>Ubicación</h5></td>
                                                <td>{{ evento.ubicacion }}</td>
                                            </tr>

                                            <tr class="highlight">
                                                <td class="field"><h5>Precio</h5></td>
                                                <td>COP {{ evento.precio }}</td>
                                            </tr>

                                            <tr class="highlight">
                                                <td class="field"><h5>Numero de participantes</h5></td>
                                                <td>{{ evento.numero_participantes }}</td>
                                            </tr>

                                            <tr class="highlight">
                                                <td class="field"><h5>Descripción</h5></td>
                                                <td>{{ evento.descripcion }}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-10 col-md-offset-1 col-xs-12">
                            <br><h4 align="center">Actividades del evento</h4><br>
                            <div class="table-responsive">

                                <table class="table table-striped table-bordered tabla-responsive">
                                    <thead>

                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Horario</th>
                                    <th>Ubicación</th>
                                    </thead>
                                    <tbody>
                                    {% for actividad in actividades %}
                                        <tr>
                                        <td>
                                            {{ actividad.nombre }}
                                        </td>
                                        <td>
                                            {{ actividad.fecha_inicio }} - {{ actividad.fecha_fin }}
                                        </td>
                                        <td>
                                            {{ actividad.hora_inicio }} - {{ actividad.hora_fin }}
                                        </td>

                                        <td>
                                            {{ actividad.ubicacion }}
                                        </td>
                                    {% endfor %}
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-xs-12">
                <div class=" panel panel-primary">
                    <div class="panel-body">
                        <div class='calendar'></div>
                    </div>
                </div>
                <div class=" panel panel-primary">
                    <div class="panel-body">
                        <div id="mapa_institucion" style="width: 100%; height: 300px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido %}



{% block js %}
    <!--Select2 [ OPTIONAL ]-->
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <!-- Full Calendar [ OPTIONAL ]-->
    <script src="{% static 'plugins/fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lib/jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lang/es.js' %}"></script>

    <script>
        // Initialize the calendar
        // -----------------------------------------------------------------
        $('.calendar').fullCalendar({
            locale: 'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            defaultDate: moment().format("YYYY-MM-DD"),
            eventLimit: true // allow "more" link when too many events
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        {% for actividad in actividades %}
            var nombre = '{{ actividad.nombre }}';
            var fecha_inicio = '{{ actividad.fecha_inicio|date:"Y-m-d" }} {{ actividad.hora_inicio }}';
            var fecha_fin = '{{ actividad.fecha_fin|date:"Y-m-d" }} {{ actividad.hora_fin }}';
            var programacion = {
                title: nombre,
                start: fecha_inicio,
                end: fecha_fin,
                color: getRandomColor(),
            }
            $('.calendar').fullCalendar('renderEvent', programacion, 'stick');
        {% endfor %}
    </script>
    <script>
        var latitud = {{ evento.geolocation.lat|safe }};
        var longitud = {{ evento.geolocation.lon|safe }};
    </script>
    <script src="{% static 'js/apps/evento/generar_mapa.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY|safe }}&callback=generarMapa"></script>

{% endblock js %}
