{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ titulo }}
{% endblock titulo_pagina %}

{% block titulo_panel %}
{{ titulo }}
{% endblock titulo_panel %}

{% block miga_pan %}
<li>{{ tipo }}</li>
<li class="active">{{ accion }}</li>
{% endblock miga_pan %}

{% block css %}
<!--Bootstrap Datepicker [ OPTIONAL ]-->
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">

<link href="{% static 'plugins/bootstrap-timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block contenido_panel %}

<form enctype="multipart/form-data" class="form-vertical" method="post">{% csrf_token %}
    <div class="row">

        <div class="col-md-9 col-md-offset-1 col-xs-12">
            {% bootstrap_field form.nombre layout="vertical" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-xs-12">
            {% bootstrap_field form.ubicacion layout="vertical" %}
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-1 col-xs-12">
            <div class="component-date">
               {% bootstrap_field form.fecha_inicio layout="vertical" field_class="input-group date" addon_after='<i class="ti-calendar"></i>' %}
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-1 col-xs-12">
            <div class="component-date">
                {% bootstrap_field form.fecha_fin layout="vertical" field_class="input-group date" addon_after='<i class="ti-calendar"></i>' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-1 col-xs-12">
            {% bootstrap_field form.hora_inicio layout="vertical" field_class="input-group time" addon_after='<i class="ti-alarm-clock"></i>' %}
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-1 col-xs-12">
            {% bootstrap_field form.hora_fin layout="vertical" field_class="input-group time" addon_after='<i class="ti-alarm-clock"></i>'%}
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-1 col-xs-12">
            {% bootstrap_field form.evento layout="vertical" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1 col-xs-10">
            <button class="btn btn-md btn-primary m-r-5 m-b-5" type="submit">Guardar</button>
            <a href="{% url 'actividad_listar' %}" class="btn btn-md btn-dark m-r-5 m-b-5  col-md-offset-1">Cancelar</a>
        </div>
    </div>

</form>
{% endblock contenido_panel %}

{% block js %}
    <!--Bootstrap Datepicker-->
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script>
        $('.component-date .input-group.date').datepicker({
            language: 'es',
            autoclose: true,
            format: 'yyyy-mm-dd',
            orientation: "bottom",
        });
    </script>
    <script>
        $('.component-time').timepicker({
            minuteStep: 5,
            showInputs: false,
            disableFocus: true,
            showMeridian: false
         });


        var evento_seleccionado = $('#id_evento').val();
        function mostrar_info_evento(){
            if (evento_seleccionado != ""){
                $('div.informacion-evento').remove();
                $.post("{% url 'actividad_obtener_evento' %}", {
                    "evento": evento_seleccionado,
                    "csrfmiddlewaretoken":"{{ csrf_token }}"
                }, function (result) {
                    $('div.panel.panel-primary').before(
                    "<div class=" + "'panel panel-primary informacion-evento'" + ">" +
                        "<div class=" + "panel-heading" + ">" +
                        "<h3 class=" + "panel-title" + "> Información del evento seleccionado</h3>" +
                        "</div>" +
                        "<div class="+ "panel-body" +">" +
                            "<div class=" + "'col-sm-6 col-md-4'" + ">" +
                                "<p>Nombre del evento: " + result['nombre'] +"</p>"+
                                "<p>Dirección del evento: " + result['direccion'] + "</p>" +
                            "</div>" +
                            "<div class=" + "'col-sm-6 col-md-4'" + ">" +
                                "<p>Ubicación del evento: " + result['ubicacion'] +"</p>"+
                                "<p>Fecha de inicio: " + result['fecha_inicio'] +"</p>"+
                            "</div>" +
                            "<div class=" + "'col-sm-6 col-md-4'" + ">" +
                                "<p>Fecha de finalización: " + result['fecha_fin'] + "</p>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                });

            }else{
                $('div.informacion-evento').remove();
            }
        }
        mostrar_info_evento();
        $('#id_evento').change(function () {
            evento_seleccionado = $('#id_evento').val();
            mostrar_info_evento();
        });

    </script>

{% endblock %}